body{
    background-color:gold;
    color:black;
    font-family: 'Inconsolata', monospace;
}
.title{
    text-align:center;
    font-size:300%;
}
a {
    text-decoration: none; 
    color: white;
    position: relative;
}
a::after {
    content: ''; 
    width: 0;
    height: 15%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}
a:hover::after {
    width: 100%;
}
.intro{
    background-color:orangered;
    border-radius: 20px;
    border:solid black;
    color:black;
    padding: 2%;
    margin-bottom:0.5%;
}
.hsFreshman{
    border-radius: 20px;
    background-color:purple;
    color:pink;
    border: solid black;
    padding: 1%;
    margin-bottom:0.5%;
}
.hsFreshman a{
    color:pink;
}
.hsFreshman a::after{
    background-color:pink;
}
.hsSophmore{
    border-radius: 20px;
    background-color: white;
    border: solid black;
    padding: 1%;
    color:orangered;
}
.hsSophmore a{
    color:orangered;
}
.hsSophmore a::after{
    background-color:orangered;
}