body{
    background-color:#02735E;
    font-family: 'Inconsolata', monospace;
}
.title{
    text-align:center;
    font-size:300%;
    color:lightgray;
}
a {
    text-decoration: none; 
    color: white;
    position: relative;
}
a::after {
    content: ''; 
    width: 0;
    height: 15%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}
a:hover::after {
    width: 100%;
}
.intro{
    background-color:#014034;
    border-radius: 20px;
    border:solid #014034;
    color:lightgray;
    padding: 2%;
    margin-bottom:0.5%;
}
.hsFreshman{
    border-radius: 20px;
    background-color:#014034;
    color:lightgray;
    border: solid #014034;
    padding: 1%;
    margin-bottom:0.5%;
}
.hsFreshman a{
    color:lightgray;
}
.hsFreshman a::after{
    background-color:lightgray;
}
.hsSophmore{
    border-radius: 20px;
    background-color: #014034;
    border: solid #014034;
    padding: 1%;
    color:lightgray;
}
.hsSophmore a{
    color:lightgray;
}
.hsSophmore a::after{
    background-color:lightgray;
}